<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Inforoom.ReportSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
  
 <connectionStrings>
		<add name="DB" connectionString="Database=usersettings;Data Source=sql2.analit.net;Port=3306;User Id=ReportsSystem;Password=samepass;pooling=false;default command timeout=0;"/>
	</connectionStrings>
 <applicationSettings>
  <Inforoom.ReportSystem.Properties.Settings>
   <setting name="DBDumpPath" serializeAs="String">
    <value>\\dbms2.adc.analit.net\ReportsFiles\</value>
   </setting>
   <setting name="ErrorFrom" serializeAs="String">
    <value>service@analit.net</value>
   </setting>
   <setting name="ErrorReportMail" serializeAs="String">
    <value>service@analit.net, tech@analit.net</value>
   </setting>
   <setting name="FTPOptBoxPath" serializeAs="String">
    <value>\\acdcserv\FTP\OptBox\</value>
   </setting>
   <setting name="SMTPHost" serializeAs="String">
    <value>box.analit.net</value>
   </setting>
  </Inforoom.ReportSystem.Properties.Settings>
 </applicationSettings>
</configuration>