<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Inforoom.ReportSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
	</configSections>

	<connectionStrings>
		<add name="DB" connectionString="Database=usersettings;Data Source=sql2.analit.net;Port=3306;User Id=ReportsSystem;Password=samepass;pooling=false;default command timeout=0; Allow user variables=true;convert zero datetime=yes;"/>
	</connectionStrings>

	<activerecord isWeb="false" pluralizeTableNames="true">
		<config>
			<add key="connection.driver_class" value="NHibernate.Driver.MySqlDataDriver"/>
			<add key="dialect" value="NHibernate.Dialect.MySQLDialect"/>
			<add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
			<add key="connection.connection_string_name" value="DB"/>
			<add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
			<add key="show_sql" value="true"/>
			<add key="hbm2ddl.keywords" value="none"/>
		</config>
	</activerecord>

	<applicationSettings>
		<Inforoom.ReportSystem.Properties.Settings>
			<setting name="DBDumpPath" serializeAs="String">
				<value>\\dbms2.adc.analit.net\ReportsFiles\</value>
			</setting>
			<setting name="ErrorFrom" serializeAs="String">
				<value>service@analit.net</value>
			</setting>
			<setting name="ErrorReportMail" serializeAs="String">
				<value>service@analit.net, tech@analit.net</value>
			</setting>
			<setting name="FTPOptBoxPath" serializeAs="String">
				<value>\\adc.analit.net\Inforoom\FTP\OptBox\</value>
			</setting>
			<setting name="SMTPHost" serializeAs="String">
				<value>box.analit.net</value>
			</setting>
		</Inforoom.ReportSystem.Properties.Settings>
	</applicationSettings>

	<log4net>

		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<file value="report_" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c %ndc - %m%n" />
			</layout>
		</appender>

    <appender name="LogFile2" type="log4net.Appender.RollingFileAppender, log4net">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="report_debug" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c %ndc - %m%n" />
      </layout>
    </appender>

		<!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->
		<root>
			<level value="DEBUG" />
			<appender-ref ref="LogFile" />
		</root>

		<logger name="Inforoom.ReportSystem.SpecReport">
			<level value="DEBUG" />
			<appender-ref ref="LogFile" />
		</logger>

    <logger name="Inforoom.ReportSystem.OffersReport" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="LogFile2" />
    </logger>

  </log4net>
	
</configuration>
