[submodule "src/Common.Tools"]
	path = src/Common.Tools
	url = git@git.analit.net:root/common-tools.git
[submodule "src/Common.Web.Ui"]
	path = src/Common.Web.Ui
	url = git@git.analit.net:root/common-web-ui.git
[submodule "src/Test.Support"]
	path = src/Test.Support
	url = git@git.analit.net:root/test-support.git

[submodule "lib/MonoRail.Debugger.Toolbar"]
	path = lib/MonoRail.Debugger.Toolbar
	url = git@git.analit.net:root/monorail-debugger-toolbar
[submodule "src/Common.MySql"]
	path = src/Common.MySql
	url = git@git.analit.net:root/common-mysql
[submodule "src/Common.Models"]
	path = src/Common.Models
	url = git@git.analit.net:root/common-models
