build
output
obj
bin
_ReSharper.*
_resharper.*
*.resharper
*.ReSharper
*.resharper.*
*.ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.sln.docstates
*.cache
*.user
*.log
src/ReportTuner/Data
