[submodule "src/Common.Tools"]
	path = src/Common.Tools
	url = ssh://git.analit.net/var/www/git/Common.Tools.git
[submodule "src/Common.Web.Ui"]
	path = src/Common.Web.Ui
	url = ssh://git.analit.net/var/www/git/Common.Web.UI.git
[submodule "src/ExecuteTemplate"]
	path = src/ExecuteTemplate
	url = ssh://git.analit.net/var/www/git/ExecuteTemplate.git
[submodule "src/Test.Support"]
	path = src/Test.Support
	url = ssh://git.analit.net/var/www/git/Test.Support.git

[submodule "lib/MonoRail.Debugger.Toolbar"]
	path = lib/MonoRail.Debugger.Toolbar
	url = ssh://git.analit.net/var/www/git/MonoRail.Debugger.Toolbar
