<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DB" connectionString="Database=usersettings;Data Source=localhost;User Id=root;pooling=false; default command timeout=0;Allow user variables=true;convert zero datetime=yes;"/>
		<add name="release" connectionString="Database=usersettings;Data Source=sql2.analit.net;User Id=ReportsSystem;Password=samepass;pooling=false; default command timeout=0;Allow user variables=true;convert zero datetime=yes;"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
