<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>

	<log4net>

		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="report_" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c %ndc - %m%n" />
			</layout>
		</appender>

		<appender name="Email" type="log4net.Appender.SmtpAppender,log4net">
			<to value="service@analit.net, tech@analit.net" />
			<from value="service@analit.net" />
			<subject value="Ошибка при запуске отчета" />
			<smtpHost value="mail.adc.analit.net" />
			<lossy value="false" />
			<bufferSize value="1" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="Host: %property{log4net:HostName} %nUserName: %username %nDate: %date %n%m%n" />
			</layout>
                        <filter type="log4net.Filter.LevelRangeFilter">
                           <levelMin value="WARN" />
                           <levelMax value="FATAL" />
                        </filter>
		</appender>

		<!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->
		<root>
			<level value="DEBUG" />
			<appender-ref ref="LogFile" />
			<appender-ref ref="Email" />
		</root>

	</log4net>
</configuration>