<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<connectionStrings>
		<add name="production" connectionString="Database=reports;server=dbms.sql.adc.analit.net;User Id=ReportsSystem;Password=samepass;default command timeout=500; Allow user variables=true;convert zero datetime=yes;"/>
	</connectionStrings>

	<appSettings>
		<add key="ThreadCount" value="10"/>
		<add key="CostThreshold" value="98000"/>
	</appSettings>

	<log4net>
		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<file value="Report.Data.Builder.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<staticLogFileName value="true"/>
			<maximumFileSize value="1MB" />
			<encoding value="utf-8" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>

		<appender name="ServiceEmail" type="log4net.Appender.SmtpAppender, log4net">
			<to value="service@analit.net" />
			<from value="service@analit.net" />
			<subject value="Ошибка в службе подготовки данных для отчетов" />
			<smtpHost value="box.analit.net" />
			<lossy value="false" />
			<bufferSize value="0" />
			<layout type="log4net.Layout.PatternLayout, log4net">
				<conversionPattern value="Version: %property{Version}%nHost: %property{log4net:HostName}%nUserName: %username %nDate: %date%n%m%n" />
			</layout>
		</appender>

		<root>
			<level value="ERROR"/>
			<appender-ref ref="LogFile"/>
			<appender-ref ref="ServiceEmail"/>
		</root>

		<logger name="Report.Data.Builder" additivity="false">
			<level value="DEBUG"/>
			<appender-ref ref="LogFile"/>
		</logger>

		<logger name="NHibernate" additivity="false">
			<level value="OFF" />
		</logger>
	</log4net>
</configuration>
