<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<section name="ShelfConfiguration" type="Topshelf.Shelving.ShelfConfiguration, TopShelf" />
	</configSections>

	<ShelfConfiguration Bootstrapper="Report.Data.Builder.Bootstrapper, Report.Data.Builder" />

	<appSettings>
		<add key="ThreadCount" value="10"/>
	</appSettings>

	<log4net>

		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<file value="Report.Data.Builder.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<staticLogFileName value="true"/>
			<maximumFileSize value="1MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>

		<root>
			<level value="ERROR"/>
			<appender-ref ref="LogFile"/>
		</root>

		<logger name="NHibernate" additivity="false">
			<level value="OFF" />
		</logger>

	</log4net>

</configuration>