<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Inforoom.ReportSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="DB" connectionString="Database=usersettings;Data Source=localhost;User Id=root;Password=;pooling=false; default command timeout=0;Allow user variables=true;convert zero datetime=yes;"/>
		<add name="local" connectionString="Database=usersettings;Data Source=localhost;User Id=root;Password=;pooling=false; default command timeout=0;Allow user variables=true;convert zero datetime=yes;"/>
		<add name="integration" connectionString="Database=usersettings;Data Source=testsql.analit.net;User Id=system;Password=newpass;pooling=false; default command timeout=0;Allow user variables=true;convert zero datetime=yes;"/>
	</connectionStrings>

	<applicationSettings>
		<Inforoom.ReportSystem.Properties.Settings>
			<setting name="ErrorFrom" serializeAs="String">
				<value>service@analit.net</value>
			</setting>
			<setting name="FTPOptBoxPath" serializeAs="String">
				<value>OptBox</value>
			</setting>
			<setting name="SMTPHost" serializeAs="String">
				<value>box.analit.net</value>
			</setting>
			<setting name="DBDumpPath" serializeAs="String">
				<value>\\fms.adc.analit.net\AFFiles</value>
			</setting>
			<setting name="ErrorReportMail" serializeAs="String">
				<value>kvasovtest@analit.net</value>
			</setting>
			<setting name="HistoryPath" serializeAs="String">
				<value>History</value>
			</setting>
			<setting name="IntoOutfilePath" serializeAs="String">
				<value>U:/AFFiles/</value>
			</setting>
		</Inforoom.ReportSystem.Properties.Settings>
	</applicationSettings>

	<appSettings>
	  <add key="MinimumReactionSum" value="10000"/>
	  <add key="ScheduleWorkDir" value="..\..\..\ReportSystem\bin\Debug\"/>
	  <add key="ScheduleAppPath" value="..\..\..\ReportSystem\bin\Debug\ReportSystem.exe"/>
	  <add key="SavedFilesReportTypePath" value="Data\FileForReportTypes"/>
	  <add key="ReportsFolderName" value="Отчеты"/>
	</appSettings>

</configuration>
