<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Inforoom.ReportSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="DB" connectionString="Database=usersettings;Data Source=testsql.analit.net;User Id=system;Password=newpass;pooling=false; default command timeout=0;Allow user variables=true;convert zero datetime=yes;"/>
		<!--<add name="DB" connectionString="Database=usersettings;Data Source=localhost;User Id=root;Password=;pooling=false; default command timeout=0;Allow user variables=true;convert zero datetime=yes;"/>-->
	</connectionStrings>	

	<applicationSettings>
		<Inforoom.ReportSystem.Properties.Settings>
			<setting name="ErrorFrom" serializeAs="String">
				<value>service@analit.net</value>
			</setting>
			<setting name="FTPOptBoxPath" serializeAs="String">
				<value>OptBox</value>
			</setting>
			<setting name="SMTPHost" serializeAs="String">
				<value>mail.adc.analit.net</value>
			</setting>
			<setting name="DBDumpPath" serializeAs="String">
				<value>\\testsql.adc.analit.net\AFFiles</value>
			</setting>
			<setting name="ErrorReportMail" serializeAs="String">
				<value>kvasovtest@analit.net</value>
			</setting>
		</Inforoom.ReportSystem.Properties.Settings>
	</applicationSettings>
	
	<activerecord isWeb="false" pluralizeTableNames="true">
		<config>
			<add key="connection.driver_class" value="NHibernate.Driver.MySqlDataDriver"/>
			<add key="dialect" value="NHibernate.Dialect.MySQLDialect"/>
			<add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
			<add key="connection.connection_string_name" value="DB"/>
			<add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
			<add key="show_sql" value="true"/>
			<add key="hbm2ddl.keywords" value="none"/>
		</config>
	</activerecord>

</configuration>
