<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="local" connectionString="Database=usersettings;Data Source=localhost;User Id=root;Password=;Allow user variables=true;convert zero datetime=yes;"/>
		<add name="integration" connectionString="Database=usersettings;Data Source=localhost;User Id=root;Password=;Allow user variables=true;convert zero datetime=yes;"/>
	</connectionStrings>
</configuration>