<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="local" connectionString="Database=usersettings;Data Source=localhost;User Id=root;Password=;pooling=false;default command timeout=100;Allow user variables=true;convert zero datetime=yes;"/>
		<add name="integration" connectionString="Database=reports;server=localhost; user id=root; password=;pooling=false;Allow user variables=true;default command timeout=100"/>
	</connectionStrings>
</configuration>