<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>		
	</configSections>		
	<appSettings>
		<add key="ScheduleWorkDir" value="..\..\..\ReportSystem\bin\Debug\"/>
		<add key="ScheduleAppPath" value="..\..\..\ReportSystem\bin\Debug\ReportSystem.exe"/>
		<add key="SavedFileForReportTypesPath" value="C:\Data\FileForReportTypes"/>
		<add key="ReportsFolderName" value="Отчеты"/>
		<add key="webPort" value="53759"/>
		<add key="webDirectory" value="..\..\..\..\src\ReportTuner\"/>
		<add key="SMTPHost" value="box.analit.net"/>
	</appSettings>
	<connectionStrings>
		<add name="local" connectionString="Database=usersettings;Data Source=localhost;User Id=root;Password=;pooling=false; default command timeout=0;Allow user variables=true;convert zero datetime=yes;"/>
		<add name="integration" connectionString="Database=usersettings;Data Source=testsql.analit.net;User Id=system;Password=newpass;pooling=false; default command timeout=0;Allow user variables=true;convert zero datetime=yes;"/>
	</connectionStrings>
	<NUnit>
		<TestRunner>
			<add key="ApartmentState" value="STA"/>
		</TestRunner>
	</NUnit>
</configuration>
