<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>		
	</configSections>		
  <appSettings>
    <add key="ScheduleWorkDir" value="C:\Temp\ReportApp"/>
    <add key="ScheduleAppPath" value="C:\Temp\ReportApp\ReportSystem.exe"/>
    <add key="ScheduleServer" value="prg6.adc.analit.net"/>
    <add key="ScheduleDomainName" value="analit"/>
    <add key="ScheduleUserName" value="tyutin"/>
    <add key="SchedulePassword" value="D#~se%%!"/>
    <add key="ReportsFolderName" value="Отчеты"/>
		<add key="webPort" value="53759"/>
		<add key="webDirectory" value="../../../../ReportTuner/"/>
   </appSettings>
	<connectionStrings>		
		<add name="DB" connectionString="Database=reports;server=testSQL.analit.net; user id=system; password=newpass;pooling=false;"/>		
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<NUnit>
		<TestRunner>
			<add key="ApartmentState" value="STA"/>
		</TestRunner>
	</NUnit>
</configuration>
