<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ScheduleWorkDir" value="C:\Temp\ReportApp"/>
    <add key="ScheduleAppPath" value="C:\Temp\ReportApp\ReportSystem.exe"/>
    <add key="ScheduleServer" value="prg5.adc.analit.net"/>
    <add key="ScheduleDomainName" value="analit"/>
    <add key="ScheduleUserName" value="zolotarev"/>
    <add key="SchedulePassword" value="GhtpbltyNInf"/>
    <add key="ReportsFolderName" value="Отчеты"/>
   </appSettings>
	<connectionStrings>		
		<add name="DB" connectionString="Database=reports;server=testSQL.analit.net; user id=system; password=newpass;pooling=false;"/>		
	</connectionStrings>
</configuration>